@if (isAddingTask()) {
    <app-new-task (close)="onClose()" (newTask)="onNewTask($event)" />
}
<section id="tasks">
    <header>
        <h2>{{ name() }}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTask(id())">Add Task</button>
        </menu>
    </header>
    <ul>
        @for (task of selectedTasks(); track task.id) {
            <li>
                <app-task (completeTask)="onCompleteTask($event)" [task]="task"/>
            </li>
        } @empty {
            <p>No tasks found for this user.</p>
        }
    </ul>
</section>